<div class="container">
  <div class="row">


<div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <td><b>name</b></td>
          <td><b><%= @user.name %></b></td>
        </tr>
        <tr>
          <td><b>introduction</b></td>
          <td><b></b></td>
        </tr>
      </table>
      <div class="row">
        <% if @user == current_user %>
          <%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary btn-block" %>
        <% end %>
      </div>

<%= render 'books/list', books: @books, user: @user %>
</div>
  </div>
</div>