<p id="notice">
  <%= notice %>
</p>

<div class="container px-5 px-sm-0">
  <div class="row">
  <%= render 'user_info', book: @book, user: @user %>
  <%= render 'books/list', books: @books %>
  </div>
</div>